/* line 1, ../sass/style.scss */
#videoContainer {
  width: 1280px;
  height: 720px;
  margin: 25px auto;
  background: lime;
  position: relative;
}
/* line 7, ../sass/style.scss */
#videoContainer video {
  width: 1280px;
  height: 720px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  transition: 1s all;
}
/* line 16, ../sass/style.scss */
#videoContainer .pip {
  width: 320px;
  height: 180px;
  top: 10px;
  left: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 99999;
}

/* line 26, ../sass/style.scss */
#dropZones .upperLeft, #dropZones .upperRight, #dropZones .lowerRight, #dropZones .lowerLeft {
  top: 10px;
  left: 10px;
  background: red;
  position: absolute;
  width: 320px;
  height: 180px;
}
/* line 34, ../sass/style.scss */
#dropZones .upperRight {
  right: 10px;
  left: auto;
}
/* line 39, ../sass/style.scss */
#dropZones .lowerRight {
  right: 10px;
  bottom: 10px;
  left: auto;
  top: auto;
}
/* line 46, ../sass/style.scss */
#dropZones .lowerLeft {
  bottom: 10px;
  top: auto;
}

/* line 53, ../sass/style.scss */
#dropZones .upperRight.over {
  border: 2px dashed #fff;
}

/* line 58, ../sass/style.scss */
.recentContainer {
  width: 345px;
  height: 303px;
  -webkit-transform: skew(-10deg);
  overflow: hidden;
  margin: 0 auto;
  background: lime;
}
/* line 65, ../sass/style.scss */
.recentContainer canvas {
  margin: 0 auto;
}
